$red : rgb(229, 9, 20);
$blue : rgb(29, 99, 196);

.home-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .offer-banner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 15px;
        background-color: #fff;
    }

    .hero-container {
        width: 100%;
        height: 700px;
        background-image: url("../../../public/assets/hero-back.jpeg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% auto;

        .home-header {
            width: 92%;
            height: 100px;
            padding: 0px 4%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: .7);

            .actions {
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                color: #fff;
                position: relative;

                i {
                    position: absolute;

                    &:first-child {
                        left: 10px;
                    }

                    &:nth-child(2) {
                        top: 6px;
                        left: 100px;
                    }
                }

                .languages {
                    padding: 8px 30px 8px 30px;
                    border-radius: 5px;
                    background-color: transparent;
                    color: #fff;
                    font-size: 15px;
                    z-index: 5;
                    appearance: none;
                }
            }
        }

        .get-start {
            width: 100%;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: .7);
            color: #fff;

            h1 {
                margin: 0;
                text-align: center;
            }

            h3 {
                margin-bottom: 0;
                text-align: center;
            }

            h4 {
                width: 60%;
                text-align: center;
            }

            .actions {
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                position: relative;

                .primary-button {
                    width: 200px;
                    height: 58px;
                    font-size: 24px;
                }

                .get-start-input {
                    width: 400px;
                    height: 48px;
                    padding: 10px 10px 0px;
                    border: 1px solid rgb(133, 133, 133);
                    border-radius: 5px;
                    background-color: rgba(133, 133, 133, .1);
                    outline-color: #fff;
                    color: #fff;
                    z-index: 99;

                    &::placeholder {
                        color: transparent;
                    }

                    &:placeholder-shown~label {
                        font-size: 18px;
                        cursor: text;
                        top: 20px;
                    }

                    &:focus {
                        ~label {
                            top: 8px;
                            font-size: 14px;
                            color: rgb(133, 133, 133);
                            font-weight: 400;
                        }
                    }
                }

                label {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                    color: rgb(133, 133, 133);
                    display: block;
                    transition: 0.2s;
                }
            }
        }
    }
}

.card {
    width: 100%;
    height: 600px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #000000;

    .infos {
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #fff;
    }

    .media {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 100%;
            height: auto;
            position: absolute;
        }

        video {
            &:first-child {
                margin-top: -10px;
            }

            &:nth-child(1) {
                position: absolute;
                top: -150px;
                left: 120px;
            }
        }
    }
}

.faq-container {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #fff;

    .toggle {
        width: 70%;
        height: auto;
        background-color: #2D2D2D;
    }
}