$red : rgb(229, 9, 20);
$blue : rgb(29, 99, 196);

.home-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .offer-banner {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 15px;
        background-color: #fff;
    }
}